#!/usr/bin/make -f

export CGO_ENABLED = 0
export GO111MODULE = on
export GOTOOLCHAIN = go$(shell cat .go-version)

%:
	dh $@ --buildsystem=makefile

override_dh_auto_build:
	env -u LDFLAGS $(MAKE) CHECKS= BUILDOPTS='-mod=readonly -trimpath -buildvcs=false' GITCOMMIT='$(GITCOMMIT)'

override_dh_auto_test:
	go test -mod=readonly ./core/... ./plugin/file ./plugin/forward ./plugin/reload ./plugin/acl ./plugin/view

override_dh_auto_install:
	install -D -m0755 coredns debian/coredns/usr/bin/coredns
	install -D -m0644 debian/Corefile debian/coredns/etc/coredns/Corefile

override_dh_auto_clean:
	rm -f coredns

override_dh_dwz:
override_dh_strip:

override_dh_installsystemd:
	dh_installsystemd --no-start
